.site-head {
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: 1fr 1fr;
}
