<div class="[ inner-wrapper ] [ sf-flow ]">
    <div class="grid [ pad-top-900 pad-bottom-max ]">
        <img src="/images/craig-avatar.JPG">
        <img src="/images/craig-pixelpioneers.jpg">
        <img src="/images/keir-and-craig.png">
        <img src="/images/76-king.jpg">
    </div>
</div>
