<div class="[ inner-wrapper ] [ sf-flow ]">
    <div class="grid [ pad-top-900 pad-bottom-max ]">
        <img src="/images/craig-avatar.JPG" alt="Craig Cooper, Shopify Expert, Consultant">
        <img src="/images/craig-pixelpioneers.jpg" alt="Craig Cooper at Pixel Pioneers">
        <img src="/images/keir-and-craig.png" alt="Craig Cooper chatting with Keir Whitaker at Shopify Pursuit 2018. Photo by Marc Thiele.">
        <img src="/images/debrief-panel-by-Tiffany-Tse.jpg" alt="Speaking on the Themes & Front End Panel at Debrief 2019. Photo by Tiffany Tse @tiffany_tse">
    </div>
</div>
